.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: lightblue;
    height: 56px;
    opacity: 0.7;
}

.Navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem; 
}

.Navbar-Logo a {
    color:black;
    text-decoration: none;
    font-size: 1.5rem;
}

.Navbar_navigation-items a {
    color: black;
    text-decoration: none;    
}

.Navbar_navigation-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.spacer{
    flex: 1;
}
.Navbar_navigation-items li{
    padding: 0.5rem;
}

.Navbar_navigation-items a:hover,
.Navbar_navigation-items a:active{
    color:orange;
}